*{
    font-family: sans-serif;
    margin:0px;
    padding:0px;
}

.checked{
    text-decoration: line-through;
    color:#40514e;

}
.fas{
    color: #00bd56;
}
.fa-trash-alt{
    color:#40514e;
    

}

.fa-trash-alt:hover{
    color:#ff0000;
}
.container{
    
    background:#aeddcd;
    width:500px;
    height:500px;
    border-radius:1px;
    margin:0 auto;
}

.wrapper{
    width:100%;
    margin:0 auto;
    text-align: center;
}

.name-do{
    display:inline-block;
    width:200px;
    height:45px;
    border:0px solid blue;
    outline:none;
    box-sizing: border-box;
    font-size: 16px;
    border-radius:35px;
    padding:5px 10px;
}

.add-btn{
    position:relative;
    width:45px;
    height:45px;
    border:none;
    outline:none;
    border-radius:50%;
    background:#3a9679;
    color:#fff;
    cursor:pointer;
    font-size: 25px;
    margin-left:15px;
    box-sizing: border-box;
    top:2px;
}

.list-container{
    width:450px;
    height:500px;
    display:block;
    margin:0 auto;
    padding:0;
}
.list{
    position:relative;
    padding-top:20px;
    top:40px;
    border-radius:5px;
    margin:0 auto;
    background:#fff;
    display:flex;
    align-items: center;
    flex-direction: column;
    height:200px;
    width:80%;
    list-style-type: none;
}
.list-el span i {
    margin-right:7px;
}

.list-el > *{
    cursor:pointer;
}
.list-el{
    font-size: 16px;
    color:#000;
    widtH:90%;
    display:flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-bottom:10px;
    font-size: 16px;
}

